.media1{
    border: 9px solid rgb(241, 222, 48);
    padding: 10px;
    background-color: cadetblue;
}
@media(min-width: 915px){
    h1{
        background-color: rgba(17, 248, 206, 0.525);
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    p{
            background-color: rgba(238, 249, 24, 0.916);
            font-size: 1rem;
        }
        body{
            background-color: rgb(126, 226, 226);
        }
}
@media(max-width: 890px){
    h1{
        background-color: rgb(242, 255, 64);
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p{
        background-color: rgb(242, 255, 64);
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body{
        background-color: rgb(41, 187, 197);
    }
    
}