<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FontStyle</title>
</head>
<body>
    <center>
            <div>
            <!-- p.Hello1{Hello1}+p.Hello2{Hello2}+p.Hello3{Hello3}+p.Hello4{Hello4}+p.Hello5{Hello5}+p.Hello6{Hello6}+p.Hello7{Hello7} -->
            <p class="Hello1">font-family</p>
            <p class="Hello2">font-size</p>
            <p class="Hello3">font-weight</p>
            <p class="Hello4">font-style</p>
            <p class="Hello5">color</p>
            <p class="Hello6">text-transform</p>
            <p class="Hello7">text-decoration</p>
            <!-- Chatgpt -->
             <hr>
             <hr>
             <hr>
             <h1><u><b>Chatgpt</b></u></h1>
            <p class="Hello8">font-variant</p>
            <p class="Hello9">line-height</p>
            <p class="Hello10">letter-spacing</p>
            <p class="Hello11">word-spacing word spacing</p>

            <link rel="stylesheet" href="FontStyle1.css">
        </div>
    </center>
    
</body>
</html>