.Hello55{
    text-align: center;
}
.Hello56{
    line-height: 10;
}
.Hello57{
    letter-spacing: 10px;
}
.Hello58{
    word-spacing: 55px;
}
.Hello59{
    text-indent: 25px;
}
.Hello59A{
    width: 200px;
    border: 3px dotted rgb(4, 179, 248);
    padding: 15px;
    text-align: left;
    background-color: rgb(191, 225, 229);
    text-indent: 55px;
}
.Hello60{
    white-space: normal;
    background-color: aliceblue;
}
.Hello60A{
    white-space: normal;
    background-color: rgb(197, 223, 236);
}
.Hello60B{
    white-space: nowrap;
    color: wheat;
    background-color: rgb(41, 196, 183);
}
.Hello60C{
    white-space: pre;
    color: whitesmoke;
    background-color: rgb(199, 172, 215);
}
.Hello60D{
    white-space: pre-wrap;
    color: whitesmoke;
    background-color: rgb(199, 172, 215);
}
.Hello60X{
    white-space: pre-line;
    color: whitesmoke;
    background-color: rgb(199, 172, 215);
}
b{
    background-color: rgb(4, 234, 242);
}
.Hello60X1{
    width: 200px;
    height: 180px;
    border: 3px dotted rgb(4, 179, 248);
    padding: 15px;
    text-align: left;
    white-space: normal;
    background-color: rgb(191, 225, 229);
}
.Hello60X2{
    width: 200px;
    border: 3px dotted rgb(4, 179, 248);
    padding: 15px;
    text-align: left;
    white-space: nowrap;
    background-color: rgb(191, 225, 229);
}

.Hello60X3{
    width: 200px;
    border: 3px dotted rgb(4, 179, 248);
    padding: 15px;
    text-align: left;
    white-space: pre;
    background-color: rgb(191, 225, 229);
}
.Hello60X4{
    width: 200px;
    border: 3px dotted rgb(4, 179, 248);
    padding: 15px;
    text-align: left;
    white-space: pre-wrap;
    background-color: rgb(191, 225, 229);
}
.Hello60X5{
    width: 200px;
    border: 3px dotted rgb(4, 179, 248);
    padding: 15px;
    text-align: left;
    white-space: pre-line;
    background-color: rgb(191, 225, 229);
}
.Hello61{
    text-overflow: hidden;
}
.Hello61X1{
    width: 150px;
    border: 3px dotted rgb(4, 179, 248);
    padding: 15px;
    text-align: left;
    background-color: rgb(191, 225, 229);
    white-space: nowrap;
    overflow: hidden;
}
.Hello61X2{
    width: 200px;
    border: 3px dotted rgb(4, 179, 248);
    padding: 15px;
    text-align: left;
    background-color: rgb(191, 225, 229);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Hello62{
    width: 200px;
    border: 3px dotted rgb(4, 179, 248);
    padding: 15px;
    text-align: left;
    background-color: rgb(191, 225, 229);
    white-space: nowrap;
    vertical-align: baseline;
}